.App {
   background-color: #484874;
   width: 100vw;
   height: 100vh;
   .div-item {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;

      .item-title {
         color: white;
         margin-right: 30px;
         font-size: 15px;
      }
      .token-amount {
         font-size: 25px;
      }
   }

   .div-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 40px;
      .btn-get {
         font-size: 15px;
         padding: 10px 50px;
      }
   }
}